---
import PieceForAll from '../components/piece-for-all/PieceForAll.svelte';
import Layout from '../layouts/Layout.astro';
---

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap" rel="stylesheet">
</head>

<div class="p-4 md:p-12 mx-auto">
  <!-- <PieceForAll client:load /> -->
  <Layout>
    <PieceForAll client:only />
  </Layout>
</div>

<style>
  body {
    background-color: #020617;
    color: white;
  }
</style>